.container {
  margin-bottom: 80px;
}

.section { 
  display: flex;
  justify-content: center;
}

.box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.text {
  background-color: #b37a6b3d;
  grid-column: 5 / -1;
  grid-row: 1;
  padding: 40px 40px 30px 140px;
}

@media (min-width: 280px) and (max-width: 912px) {
  .text {
    grid-column: 1 / -1;
    grid-row: 1;
    padding: 20px;
  }
}

@media (min-width: 1000px) and (max-width: 1024px) {
  .text {
    grid-column: 6 / -1;
  }
}

.image {
  grid-column: 1 / span 10;
  grid-row: 1; 
  padding-top: 20%;
  pointer-events: none;
  z-index: 1;
}

@media (min-width: 280px) and (max-width: 912px) {
  .image {
    grid-column: 1 / span 12;
    grid-row: -3;
    padding-top: 0;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 912px) {
  .image {
    grid-column: 3 / span 12;
  }
}
