.container {
  background-image: url('./image.jpg');
  background-size: 100%;
  background-position: center;
  padding: 45px;
}

@media (min-width: 280px) and (max-width: 1220px) {
  .container {
    background-size: 200%;
    padding: 20px;
  }
}

.title {
  color: var(--light-color);
  margin: 0;
  font-size: 40px;
  font-weight: 300;
}

@media (min-width: 280px) and (max-width: 1220px) {
  .title {
    font-size: 28px;
    margin-bottom: 0;
  }
}

.text {
  color: var(--light-color);
  font-size: 24px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 40px;
  line-height: 32px;
}

@media (min-width: 280px) and (max-width: 1220px) {
  .text {
    font-size: 18px;
    line-height: 24px;
  }
}

.content {
  position: relative;
  z-index: 2;
  width: 410px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 280px) and (max-width: 1220px) {
  .content {
    width: 100%;
    padding: 0;
  }
}

.header {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 30px;
}

.block {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 280px) and (max-width: 1220px) {
  .block {
    flex-direction: column;
  }
}

.infoBlock {
  width: 670px;
}

@media (min-width: 280px) and (max-width: 1220px) {
  .infoBlock {
    width: 100%;
    margin-bottom: 30px;
  }
}

.info {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  white-space: pre-line;
}

.captionPhoto {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

@media (min-width: 280px) and (max-width: 1220px) {
  .name {
    margin: 0;
  }
}

.image {
  padding: 20px;
  box-shadow: 0 0px 4px 0px rgb(0 0 0 / 26%);
}

@media (min-width: 280px) and (max-width: 1220px) {
  .image {
    margin-left: auto;
    margin-right: auto;
  }
}

