.photoBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo {
  margin-bottom: 20px;
  margin-top: 20px;
}

.container {
  flex: 1 0 auto;
  margin-bottom: 80px;
}

.box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.icon {
  fill: var(--bright-color);
  transform: rotate(180deg);
  width: 16px;
  height: 16px;
}

.name {
  color: var(--bright-color);
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
}