.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  fill: var(--dark-color);
  width: 200px;
}

@media (min-width: 280px) and (max-width: 1220px) {
  .image {
    width: 200px;
  }
}